.d:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}
.table-view .column-header-background{
        -fx-background-color: #191970;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
       
        
        
    }
.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: white ;
    }
